<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>address</param-name>
        <param-value>Indore</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegistrationTask</servlet-name>
        <servlet-class>RegistrationTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeTask</servlet-name>
        <servlet-class>HomeTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTask</servlet-name>
        <servlet-class>LoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTask</servlet-name>
        <servlet-class>ProfileTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasssChangeTask</servlet-name>
        <servlet-class>PasssChangeTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileTask</servlet-name>
        <servlet-class>UpdateProfileTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutTask</servlet-name>
        <servlet-class>LogOutTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaltuServlet</servlet-name>
        <servlet-class>ConfigContextTestServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Ankit</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationTask</servlet-name>
        <url-pattern>/RegistrationTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeTask</servlet-name>
        <url-pattern>/HomeTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTask</servlet-name>
        <url-pattern>/LoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTask</servlet-name>
        <url-pattern>/ProfileTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasssChangeTask</servlet-name>
        <url-pattern>/PasssChangeTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileTask</servlet-name>
        <url-pattern>/UpdateProfileTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutTask</servlet-name>
        <url-pattern>/LogOutTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaltuServlet</servlet-name>
        <url-pattern>/FaltuServlet</url-pattern>
    </servlet-mapping>
</web-app>
